* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-primary);
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    align-items: center;

    color: var(--color-text-primary);
    font-family: sans-serif;

    min-height: 4em;
    max-height: 10em;
    width: 90%;
    margin: auto;
    margin-bottom: 1em;

    /* Aquí va el fondo del header */
    background-color: var(--color-bg-primary);
}


.logo {
    max-height: 2.5rem;
    width: auto;
}

.lampara {
    height: 6em;
}

.flecha {
    height: 4em;
    width: auto;
}

#derecha {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

hr {
    width: 80%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid var(--color-border);
    background-color: var(--color-separator);
    filter: blur(2px);
}

