* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'DM Sans', sans-serif;
  color: #154C7E;
  
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;

}
.logo{
    height: 3em;
    width: auto;
}
#buscar{
    height: 2em;
    width: 70vh;


}
.lampara{
    height: 6em;
    width: auto;

}
.search{
    border-radius: 50px;
    border: 1px solid #154C7E;
    background-color: #FFF5E6;
    width: 100%;
    height: 3em;
}
.boton{
    height: 3.5em;
    width: auto;
}
img{
    width: auto;

}
body {
  background-color: #FFF5E6;
}

/* ====== ESTILOS GENERALES ====== */

a {
  text-decoration: none;
  color: #154C7E;
  font-weight: bolder;
  font-size: 1.7em;
  border: 2px solid #154C7E;
  padding: 0.3em 4em;
  max-width: 5em;
  max-height: 1.3em;
  background-color: #FFF5E6;
  border-radius: 15px;
  box-shadow: 8px 8px 0px #154C7E;
  transition: all 0.2s ease-in-out;
}

a:hover {
  background-color: #fcf0de;
  transform: translateY(-4px);
  box-shadow: 10px 10px 0px #0F3B61;
}

