/* Reset y estilos base */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  color: #154C7E;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;
}
.logo{
    height: 4em;
    width: auto;
}
#buscar{
    height: 2em;
    width: 70vh;


}
.login{
    height: 2em;
    width: auto;

}
#btnLogin{
    height: 3.3em;
    width: auto;
}
@media (max-width: 760px){
  header{
    justify-content: space-between;
  }
  #buscar{
    height: 1.6em;
    width: 22vh;
  }
  .logo{
    height: 3em;
    width: auto;  
  }
  #btnlogin{
    max-width: 3em;

  }
  .login{
    max-height: 0.5em;

  }
  .lampara{
    max-height: 5em;
    width: auto;
    position: relative;
    top: -3em;
}




}
.lampara{
    height: 6em;
    width: auto;
    position: relative;
    top: -3em;
}
main{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}
hr{
    margin: auto;
    display: flex;
    width: 150vh;
    height: 1px;
    border: none;
    background-color: rgb(116, 116, 116);
    filter: blur(2px);
}
.persona, .campana, .corazon{
    height: 2em;
    width: auto;

}
.search-container {
  display: flex;
  align-items: center;
  border-radius: 50em;
  border: 1px solid #154C7E;
  flex: 1;
  height: 3em;
  background-image: url(../img/lupa.png);
  background-size: 2.5em;
  background-repeat: no-repeat;
  background-position: right 0.2em center;
  padding: 0 1em;
}

/* Estilo del input */
.search {
  min-width: 60%;
  max-width: 80%;
  border: none;
  background-color: transparent;
  font-size: 1em;
  outline: none;
}

/* Estilo del select */
#filtros {
  border: none;
  background-color: transparent;
  font-size: 1em;
  outline: none;
  cursor: pointer;
}
.boton{
    height: 3.5em;
    width: auto;
}
img{
    width: auto;

}
body {
  background-color: #FFF5E6;
}

/* ====== ESTILOS GENERALES ====== */



